<!--
Copyright 2012 Google Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.blanshard.sudoku.android"
    android:versionCode="1"
    android:versionName="0.5"
    >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17"
        />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher6"
        android:label="@string/app_full_name"
        android:theme="@android:style/Theme.Holo.Light"
        android:allowBackup="true"
        >
        <activity
            android:name=".SudokuActivity"
            android:label="@string/app_full_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PuzzleListActivity"
            android:label="@string/app_short_name"
            />
        <activity
            android:name=".PuzzleInfoActivity"
            android:label="@string/app_short_name"
            />
        <activity
            android:name=".ReplayActivity"
            android:label="@string/app_short_name"
            android:uiOptions="splitActionBarWhenNarrow"
            />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_short_name"
            />
        <activity
            android:name=".CapturePuzzleActivity"
            android:label="@string/app_short_name"
            android:windowSoftInputMode="stateVisible|adjustPan"
            >
            <intent-filter 
                android:label="@string/app_full_name"
                >
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="*" android:path="/goggles/a/sudoku" />
            </intent-filter>
        </activity>
    </application>

</manifest>
